
<%#= form_with url: "/search", method: :get do |form| %>
  <%#= form.label :query, "Search for:" %>
  <%#= form.text_field :query %>
  <%#= form.submit "Search" %>
<%# end %>

<div class="search">
      <%= form_tag(search_posts_path, method: :get) do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag 'Search ðŸ”', name: nil %>
      <%end%>
</div> 
